    {{ request.user }}
    {{ request.user.is_authenticated }}
    <p>This is a template</p>
    <p>{{ title }}, {{ user_list }}</p>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
    </ul>
<ul>
    {% for sub_item in user_list %}
        {% if sub_item == 1 %}
            <li>{{ forloop.counter }} - {{ sub_item|add:100 }}</li>
        {% elif sub_item == 3 %}
            <li>{{ forloop.counter }} - {{ sub_item|add:10 }}</li>
        {% else %}
            {{ forloop.counter }} - {{ sub_item}}
        {% endif %}
    {% endfor %}
</ul>