{% extends "base.html" %}
{% load static %}

{# Performs login function and redirects to home page.#}

{% block content %}
    <script src="{% static 'javascript/ip_info.js' %}"></script>
    <h1 align="center" id="greeting">Logging you in...</h1>
    <h1 align="center" id="error_message" style="display: none; color: red"> Incorrect Username or Password</h1>
    <div style="display: none;">
        <form id="loginform" action="{% url 'Login' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="username" value={{ username }} name="username">
            <input type="hidden" id="password" value={{ password }} name="password">
            <input type="submit" value="Click"/>
        </form>
    </div>


    <script>
        window.onload = function submit_form() {
            let username = document.getElementById("username");
            let username_value = username.value;
            if (username_value === 'name="username"') {
                document.getElementById("greeting").style.display = "none";
                document.getElementById("error_message").style.display = "block";
                window.setTimeout(function () {
                    window.location.replace('http://' + ip_port + '/username/');
                }, 1000);
            }
            else {
                document.getElementById("loginform").submit();
            }

        }
    </script>
{% endblock %}