{% extends 'base.html' %}

{% block title %}Signing you up...{% endblock %}

{% block content %}
    <h2>Sign up</h2>
    <div style="display: none">
        <form id="signupform" action="{% url 'Signup' %}" method="post">
        {% csrf_token %}

        <input type="text" id="username" value={{ username }} name="username">
        <input type="password" id="password1" value={{ password }} name="password1">
        <input type="password" id="password2" value={{ password }} name="password2">
        <button type="submit">Sign up</button>
    </form>
    </div>

    {% comment %}    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>{% endcomment %}

    <script>
        window.onload = function submit_form() {

            document.getElementById("signupform").submit();
        }
    </script>
{% endblock %}