{% extends "base.html" %}

{% block content %}
    <h1>Home Page</h1>
    {% if user.is_authenticated %}
        <p style="display: inline">Logged in as <p style="display: inline" id="user_id">{{ user.username }}</p></p>
        <img id="user_icon" src="#"/>
        <p><a href="{% url 'logout' %}">Logout</a></p>

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Click here to Login</a>
    {% endif %}

    <!-- Place this code where you'd like the game to appear -->
    <div class="miniclip-game-embed" data-game-name="cut-the-rope-time-travel" data-theme="0" data-width="1024"
         data-height="576" data-language="en"><a href="http://www.miniclip.com/games/cut-the-rope-time-travel/">Play Cut
        the Rope Time Travel</a></div>
    <p style="text-align:center;"><a href="http://www.miniclip.com/games/cut-the-rope-time-travel/" target="_blank">Play
        Cut the Rope Time Travel</a> / More <a href="http://www.miniclip.com/games/genre-1/" target="_blank">Puzzle
        games</a></p>




    <script>
        var usernames = {
            1: "elephant",
            2: "rhino",
            3: "rabbit",
            4: "bear",
            5: "koala",
            6: "panda",
            7: "chicken",
            8: "penguin",
            9: "frog",
            10: "snake",
            11: "whale",
            12: "dophin",
            13: "shark",
            14: "octopus",
            15: "butterfly",
            16: "ladybird",
            17: "spider",
            18: "bee",
            19: "monkey",
            20: "dog",
            21: "fox",
            22: "cat",
            23: "lion",
            24: "tiger",
            25: "horse",
            26: "zebra",
            27: "cow",
            28: "pig",
            29: "giraffe",
            30: "fish",
            31: "turtle",
            32: "crocodile",
            33: "owl",
            34: "bird",
            35: "gorilla",
        };
        window.onload = function get_user_image() {
            var location = "";
            var current_username = document.getElementById("user_id").textContent;
            let x;
            for (x = 0; x < Object.keys(usernames).length; x++) {
                if (usernames[x] === current_username) {
                    location = "/static/images/UserImages/" + x + ".JPG";
                    document.getElementById("user_icon").src = location;
                }
            }
            {% if user.is_authenticated %}
                var currentTime = new Date();
                var hours = currentTime.getHours();
                var minutes = currentTime.getMinutes();
                var seconds = currentTime.getSeconds();
                var milliseconds = currentTime.getMilliseconds();
                if (minutes < 10) {
                    minutes = "0" + minutes
                }
                alert("End Time: " + hours + ":" + minutes + ":" + seconds + ":" + milliseconds);
            {% endif %}
        };

    </script>
{% endblock %}
