{% extends "base.html" %}

{% block content %}
    <h1>Register - Username Selection Page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt accumsan velit, id accumsan
        libero iaculis et. Aenean eleifend lectus posuere leo ultricies interdum. Pellentesque sodales non sem vitae
        hendrerit. Phasellus metus ex, condimentum vitae consectetur ut, ullamcorper at lorem. Aenean sit amet libero
        leo. Mauris pulvinar urna ultricies accumsan mollis. Aenean cursus placerat mollis. Phasellus egestas velit
        eros, tempus tempor ex semper et. Pellentesque mattis nec orci ac vehicula.
    </p>

    <script>

        class Image {
            constructor(id, source, username, allocated) {
                this.id = id;
                this.source = source;
                this.username = username;
                this.allocated = allocated;
            }

            get id() {
                return this._id;

            }

            get source() {
                return this._source;
            }

            get username() {
                return this._username;
            }

            get allocated() {
                return this._allocated;
            }

            set id(value) {
                this._id = value;

            }

            set source(value) {
                this._source = value;
            }

            set username(value) {
                this._username = value;
            }

            set allocated(value) {
                this._allocated = value


            }
        }


        var arrayImages = [
            "static/images/UserImages/7.JPG",
            "static/images/UserImages/8.JPG",
            "static/images/UserImages/9.JPG",
            "static/images/UserImages/10.JPG",
            "static/images/UserImages/11.JPG",
            "static/images/UserImages/12.JPG",
            "static/images/UserImages/13.JPG",
            "static/images/UserImages/14.JPG",
            "static/images/UserImages/15.JPG",
            "static/images/UserImages/16.JPG",
            "static/images/UserImages/17.JPG",
            "static/images/UserImages/18.JPG",
            "static/images/UserImages/19.JPG",
            "static/images/UserImages/20.JPG",
            "static/images/UserImages/21.JPG",
            "static/images/UserImages/22.JPG",
            "static/images/UserImages/23.JPG",
            "static/images/UserImages/24.JPG",
            "static/images/UserImages/25.JPG",
            "static/images/UserImages/26.JPG",
            "static/images/UserImages/27.JPG",
            "static/images/UserImages/28.JPG",
            "static/images/UserImages/29.JPG",
            "static/images/UserImages/30.JPG",
            "static/images/UserImages/31.JPG",
            "static/images/UserImages/32.JPG",
            "static/images/UserImages/33.JPG",
            "static/images/UserImages/34.JPG",
            "static/images/UserImages/35.JPG",
        ];
        var displayed_images = [
            "static/images/UserImages/1.JPG",
            "static/images/UserImages/2.JPG",
            "static/images/UserImages/3.JPG",
            "static/images/UserImages/4.JPG",
            "static/images/UserImages/5.JPG",
            "static/images/UserImages/6.JPG",
        ];

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        var allocated_users = [];
        window.onload = function check_for_allocated_images() {
            list_users = [];
            $.ajax({
                type: "POST",
                datatype: "json",
                url: "{{ 'testcall/' }}",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function callback(response) {
                    var objects = JSON.parse(response);
                    for (var model in objects) {
                        allocated_users.push((objects[model].fields.username))
                    }
                    filter_images()

                }
            });


        };
        const images = [
            new Image(1, "static/images/UserImages/1.JPG", "elephant", false),
            new Image(2, "static/images/UserImages/2.JPG", "rhino", false),
            new Image(3, "static/images/UserImages/3.JPG", "bunny", false),
            new Image(4, "static/images/UserImages/4.JPG", "bear", false),
            new Image(5, "static/images/UserImages/5.JPG", "koala", false),
            new Image(6, "static/images/UserImages/6.JPG", "panda", false),
            new Image(7, "static/images/UserImages/7.JPG", "chicken", false),
            new Image(8, "static/images/UserImages/8.JPG", "penguin", false),
            new Image(9, "static/images/UserImages/9.JPG", "frog", false),
            new Image(10, "static/images/UserImages/10.JPG", "snake", false),
            new Image(11, "static/images/UserImages/11.JPG", "whale", false),
            new Image(12, "static/images/UserImages/12.JPG", "dolphin", false),
        ];

        function filter_images() {
            let user;
            for (user = 0; user < allocated_users.length; user++) {
                alert(allocated_users[user]);
                if (allocated_users[user] === "admin") {
                    alert("user is admin");
                }
                else {
                    for (var image in images) {
                        alert("Username: " + images[image].username + " Allocated: " + images[image].allocated);
                        if (allocated_users[user] === images[image].username) {
                            images[image].allocated = true;
                        }
                        alert("Username: " + images[image].username + " Allocated: " + images[image].allocated);
                    }
                }
            }
            sort_images()
        }

        function sort_image() {
            for (var image in images) {
                if (images[image].allocated === true) {

                }
            }
        }


        function refresh_images() {
            var username_image_class = document.getElementsByClassName("username_image");
            var username_image_value = document.getElementsByClassName("username_image_value");
            for (var current_image = 0; current_image < username_image_class.length; current_image++) {
                username_image_class[current_image].src = arrayImages[getRandomInt(0, arrayImages.length - 1)];
                username_image_value[current_image].value = username_image_class[current_image].src.replace("http://127.0.0.1:8000/username/static/images/UserImages/", "");
                username_image_class[current_image].src = username_image_class[current_image].src.replace("http://127.0.0.1:8000/username", "");

                // http://127.0.0.1:8000
                displayed_images.push(username_image_class[current_image].src.replace("http://127.0.0.1:8000/", ""));
                for (var image = 0; image < arrayImages.length; image++) {
                    //alert(arrayImages[image]);
                    //alert(username_image_class[current_image].src.replace("http://127.0.0.1:8000/", ""));
                    if (arrayImages[image] === username_image_class[current_image].src.replace("http://127.0.0.1:8000/", "")) {
                        arrayImages.splice(image, 1);
                    }
                }
            }
            for (var count = 0; count < 6; count++) {
                var temp = displayed_images[count];
                arrayImages.push(temp);
            }
            displayed_images.splice(0, 6);
            check_for_allocated_images()
        }


    </script>

    <style>
        .username_image {
            border-radius: 4px;
            padding: 5px;
            border: 2px solid black;
            position: relative;
            float: left;
            width: 135px;
            height: 126px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .username_image:hover {
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }

    </style>

    <div style="margin-left:1%;padding:1px 16px; display: block; text-align: center">
        <div class="row">
            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="1.JPG"
                           name="user_image_id">
                    <input class="username_image" type="image" value="1" src="/static/images/UserImages/1.JPG">
                </form>
            </div>

            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="2.JPG"
                           name="user_image_id">
                    <input class="username_image" type="image" value="2" src="/static/images/UserImages/2.JPG">
                </form>
            </div>

            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="3.JPG"
                           name="user_image_id">
                    <input class="username_image" type="image" value="3" src="/static/images/UserImages/3.JPG">
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-8">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="4.JPG"
                           name="user_image_id">
                    <input class="username_image" type="image" value="4" src="/static/images/UserImages/4.JPG">
                </form>
            </div>

            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="5.JPG"
                           name="user_image_id">
                    <input class="username_image" type="image" value="5" src="/static/images/UserImages/5.JPG">
                </form>
            </div>

            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="6.JPG"
                           name="user_image_id">
                    <input class="username_image" type="image" value="6" src="/static/images/UserImages/6.JPG">
                </form>
            </div>

        </div>
        <button onclick="refresh_images()">Refresh</button>
    </div>
{% endblock %}
