{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/reglogin.css' %}">
    <h1>Register - Select desired user image</h1>

    <script>

        class Image {
            constructor(id, source, username, allocated) {
                this.id = id;
                this.source = source;
                this.username = username;
                this.allocated = allocated;
            }

            get id() {
                return this._id;

            }

            get source() {
                return this._source;
            }

            get username() {
                return this._username;
            }

            get allocated() {
                return this._allocated;
            }

            set id(value) {
                this._id = value;

            }

            set source(value) {
                this._source = value;
            }

            set username(value) {
                this._username = value;
            }

            set allocated(value) {
                this._allocated = value


            }
        }


        var allocated_users = [];
        window.onload = function check_for_allocated_images() {
            list_users = [];
            $.ajax({
                type: "POST",
                datatype: "json",
                url: "{{ 'testcall/' }}",
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function callback(response) {
                    var objects = JSON.parse(response);
                    for (var model in objects) {
                        allocated_users.push((objects[model].fields.username))
                    }
                    filter_images()

                }
            });


        };
        const images = [
            new Image(1, "static/images/UserImages/1.JPG", "elephant", false),
            new Image(2, "static/images/UserImages/2.JPG", "rhino", false),
            new Image(3, "static/images/UserImages/3.JPG", "bunny", false),
            new Image(4, "static/images/UserImages/4.JPG", "bear", false),
            new Image(5, "static/images/UserImages/5.JPG", "koala", false),
            new Image(6, "static/images/UserImages/6.JPG", "panda", false),
            new Image(7, "static/images/UserImages/7.JPG", "chicken", false),
            new Image(8, "static/images/UserImages/8.JPG", "penguin", false),
            new Image(9, "static/images/UserImages/9.JPG", "frog", false),
            new Image(10, "static/images/UserImages/10.JPG", "snake", false),
            new Image(11, "static/images/UserImages/11.JPG", "whale", false),
            new Image(12, "static/images/UserImages/12.JPG", "dolphin", false),
            new Image(13, "static/images/UserImages/13.JPG", "shark", false),
            new Image(14, "static/images/UserImages/14.JPG", "octopus", false),
            new Image(15, "static/images/UserImages/15.JPG", "butterfly", false),
            new Image(16, "static/images/UserImages/16.JPG", "ladybird", false),
            new Image(17, "static/images/UserImages/17.JPG", "spider", false),
            new Image(18, "static/images/UserImages/18.JPG", "bee", false),
            new Image(19, "static/images/UserImages/19.JPG", "monkey", false),
            new Image(20, "static/images/UserImages/20.JPG", "dog", false),
            new Image(21, "static/images/UserImages/21.JPG", "fox", false),
            new Image(22, "static/images/UserImages/22.JPG", "cat", false),
            new Image(23, "static/images/UserImages/23.JPG", "lion", false),
            new Image(24, "static/images/UserImages/24.JPG", "tiger", false),
            new Image(25, "static/images/UserImages/25.JPG", "horse", false),
            new Image(26, "static/images/UserImages/26.JPG", "zebra", false),
            new Image(27, "static/images/UserImages/27.JPG", "cow", false),
            new Image(28, "static/images/UserImages/28.JPG", "pig", false),
            new Image(29, "static/images/UserImages/29.JPG", "giraffe", false),
            new Image(30, "static/images/UserImages/30.JPG", "fish", false),
            new Image(31, "static/images/UserImages/31.JPG", "turtle", false),
            new Image(32, "static/images/UserImages/32.JPG", "crocodile", false),
            new Image(33, "static/images/UserImages/33.JPG", "owl", false),
            new Image(34, "static/images/UserImages/34.JPG", "bird", false),
            new Image(35, "static/images/UserImages/35.JPG", "gorilla", false),


        ];


        var unallocated_images = [];
        var displayed_images = [];

        function sort_images() {
            for (var image in images) {
                if (images[image].allocated === false) {
                    unallocated_images.push(images[image]);
                }
            }
            display_images()
        }

        function filter_images() {
            let user;
            for (user = 0; user < allocated_users.length; user++) {
                if (allocated_users[user] === "admin") {
                    //alert("user is admin");
                }
                else {
                    for (var image in images) {
                        if (allocated_users[user] === images[image].username) {
                            images[image].allocated = true;
                            //alert(images[image].username + " is allocated");
                        }
                    }
                }
            }
            sort_images()
        }


        function display_images() {
            var username_image_class = document.getElementsByClassName("username_image");
            var username_image_value = document.getElementsByClassName("username_image_value");
            for (var current_image = 0; current_image < username_image_class.length; current_image++) {
                if (username_image_class[current_image].type === "hidden") {
                    username_image_class[current_image].type = "image";
                }
                username_image_class[current_image].src = unallocated_images[current_image].source;
                username_image_value[current_image].value = unallocated_images[current_image].id + ".JPG";
                username_image_class[current_image].src = username_image_class[current_image].src.replace("http://127.0.0.1:8000/reguser", "");
                displayed_images.push(unallocated_images[current_image]);
            }
            unallocated_images.splice(0, 6);
        }

        function refresh_images() {
            var username_image_class = document.getElementsByClassName("username_image");
            var username_image_value = document.getElementsByClassName("username_image_value");
            for (var current_image = 0; current_image < username_image_class.length; current_image++) {
                username_image_class[current_image].src = unallocated_images[current_image].source;
                username_image_value[current_image].value = unallocated_images[current_image].id + ".JPG";
                username_image_class[current_image].src = username_image_class[current_image].src.replace("http://127.0.0.1:8000/reguser", "");
                displayed_images.push(unallocated_images[current_image]);
            }

            for (var count = 0; count < 6; count++) {
                var temp = displayed_images[count];
                unallocated_images.push(temp);
            }
            displayed_images.splice(0, 6);
            unallocated_images.splice(0, 6);
            console.log(unallocated_images);

        }


    </script>

    <style>
        .username_image {
            border-radius: 4px;
            padding: 5px;
            border: 2px solid black;
            position: relative;
            float: left;
            width: 135px;
            height: 126px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .username_image:hover {
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }

    </style>

    <div style="margin-left:1%;padding:1px 16px; display: block; text-align: center">
        <div class="row">
            <div class="col-lg-4">
                <form action="{% url 'selected_user_image_reg' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="1.JPG"
                           name="user_image_id">
                    <input class="username_image" type="hidden" value="1" src="/static/images/UserImages/1.JPG">
                </form>
            </div>

            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="2.JPG"
                           name="user_image_id">
                    <input class="username_image" type="hidden" value="2" src="/static/images/UserImages/2.JPG">
                </form>
            </div>

            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="3.JPG"
                           name="user_image_id">
                    <input class="username_image" type="hidden" value="3" src="/static/images/UserImages/3.JPG">
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-8">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="4.JPG"
                           name="user_image_id">
                    <input class="username_image" type="hidden" value="4" src="/static/images/UserImages/4.JPG">
                </form>
            </div>

            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="5.JPG"
                           name="user_image_id">
                    <input class="username_image" type="hidden" value="5" src="/static/images/UserImages/5.JPG">
                </form>
            </div>

            <div class="col-lg-4">
                <form action="{% url 'selected_user_image' %}" method="POST">
                    {% csrf_token %}
                    <input class="username_image_value" type="hidden" id="user_image_id" value="6.JPG"
                           name="user_image_id">
                    <input class="username_image" type="hidden" value="6" src="/static/images/UserImages/6.JPG">
                </form>
            </div>

        </div>
        <button class="button" onclick="refresh_images()">Refresh</button>
    </div>
{% endblock %}
