{% extends "base.html" %}
{% load static %}
{% load static from staticfiles %}


{% block content %}
    <script src="{% static 'javascript/ip_info.js' %}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/reg_login.css' %}">
    <h1 align="center">Register - Find a face you know</h1>
    <script>

        var arrayImages = [
            "/static/images/PasswordImages/7.jpg",
            "/static/images/PasswordImages/8.jpg",
            "/static/images/PasswordImages/9.jpg",
            "/static/images/PasswordImages/10.jpg",
            "/static/images/PasswordImages/11.jpg",
            "/static/images/PasswordImages/12.jpg",
            "/static/images/PasswordImages/13.jpg",
            "/static/images/PasswordImages/14.jpg",
            "/static/images/PasswordImages/15.jpg",
            "/static/images/PasswordImages/16.jpg",
            "/static/images/PasswordImages/17.jpg",
            "/static/images/PasswordImages/18.jpg",
            "/static/images/PasswordImages/19.jpg",
            "/static/images/PasswordImages/20.jpg",
            "/static/images/PasswordImages/21.jpg",
            "/static/images/PasswordImages/22.jpg",
            "/static/images/PasswordImages/23.jpg",
            "/static/images/PasswordImages/24.jpg",
            "/static/images/PasswordImages/25.jpg",
            "/static/images/PasswordImages/26.jpg",
            "/static/images/PasswordImages/27.jpg",
            "/static/images/PasswordImages/28.jpg",
            "/static/images/PasswordImages/29.jpg",
            "/static/images/PasswordImages/30.jpg",
            "/static/images/PasswordImages/31.jpg",
            "/static/images/PasswordImages/32.jpg",
            "/static/images/PasswordImages/33.jpg",
            "/static/images/PasswordImages/34.jpg",
            "/static/images/PasswordImages/35.jpg",
            "/static/images/PasswordImages/36.jpg",
            "/static/images/PasswordImages/37.jpg",
            "/static/images/PasswordImages/38.jpg",
            "/static/images/PasswordImages/39.jpg",
            "/static/images/PasswordImages/40.jpg",
            "/static/images/PasswordImages/41.jpg",
            "/static/images/PasswordImages/42.jpg",
            "/static/images/PasswordImages/43.jpg",
            "/static/images/PasswordImages/44.jpg",
            "/static/images/PasswordImages/45.jpg",
            "/static/images/PasswordImages/46.jpg",
            "/static/images/PasswordImages/47.jpg",
            "/static/images/PasswordImages/48.jpg",
            "/static/images/PasswordImages/49.jpg",
            "/static/images/PasswordImages/50.jpg",
            "/static/images/PasswordImages/51.jpg",
            "/static/images/PasswordImages/52.jpg",
            "/static/images/PasswordImages/53.jpg",
            "/static/images/PasswordImages/54.jpg",
            "/static/images/PasswordImages/55.jpg",
            "/static/images/PasswordImages/56.jpg",
            "/static/images/PasswordImages/57.jpg",
            "/static/images/PasswordImages/58.jpg",
            "/static/images/PasswordImages/59.jpg",
            "/static/images/PasswordImages/60.jpg",
            "/static/images/PasswordImages/61.jpg",
            "/static/images/PasswordImages/62.jpg",
            "/static/images/PasswordImages/63.jpg",
            "/static/images/PasswordImages/64.jpg",
            "/static/images/PasswordImages/65.jpg",


        ];

        var displayed_images = [
            "/static/images/PasswordImages/1.jpg",
            "/static/images/PasswordImages/2.jpg",
            "/static/images/PasswordImages/3.jpg",
            "/static/images/PasswordImages/4.jpg",
            "/static/images/PasswordImages/5.jpg",
            "/static/images/PasswordImages/6.jpg"
        ];

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function refresh_images() {
            var password_image_class = document.getElementsByClassName("password_image");
            var password_image_value = document.getElementsByClassName("password_image_value");
            for (var current_image = 0; current_image < password_image_class.length; current_image++) {
                password_image_class[current_image].src = arrayImages[getRandomInt(0, arrayImages.length - 1)];
                password_image_value[current_image].value = password_image_class[current_image].src.replace("http://" + ip_port + "/static/images/PasswordImages/", "");
                password_image_class[current_image].src = password_image_class[current_image].src.replace("http://" + ip_port + "/selected_user_reg", "");

                displayed_images.push(password_image_class[current_image].src.replace("http://" + ip_port, ""));

                for (var image = 0; image < arrayImages.length; image++) {
                    if (arrayImages[image] === password_image_class[current_image].src.replace("http://" + ip_port, "")) {
                        arrayImages.splice(image, 1);
                    }
                }
            }
            for (var count = 0; count < 6; count++) {
                var temp = displayed_images[count];
                arrayImages.push(temp);
            }

            displayed_images.splice(0, 6);
        }

    </script>

    <style>
        .password_image {
            padding: 5px;
            border: 2px solid black;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .password_image:hover {
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }

        .container {
            max-width: 625px;
            padding-bottom: 20px;
        }
    </style>

    <div class="container">
        <div class="row" align="center">
            <div class="col-sm-4">
                <form action="{% url 'reg_hash' %}" method="POST">
                    {% csrf_token %}
                    <input class="password_image_value" type="hidden" id="password_image_id" value="1.jpg"
                           name="password_image_id">
                    <input class="password_image" type="image" value="1" src="/static/images/PasswordImages/1.jpg">
                </form>
            </div>

            <div class="col-sm-4">
                <form action="{% url 'reg_hash' %}" method="POST">
                    {% csrf_token %}
                    <input class="password_image_value" type="hidden" id="password_image_id" value="2.jpg"
                           name="password_image_id">
                    <input class="password_image" type="image" value="2" src="/static/images/PasswordImages/2.jpg">
                </form>
            </div>

            <div class="col-sm-4">
                <form action="{% url 'reg_hash' %}" method="POST">
                    {% csrf_token %}
                    <input class="password_image_value" type="hidden" id="password_image_id" value="3.jpg"
                           name="password_image_id">
                    <input class="password_image" type="image" value="3" src="/static/images/PasswordImages/3.jpg">
                </form>
            </div>

        </div>
        <div class="row" align="center" style="padding-top: 10px">
            <div class="col-sm-4">
                <form action="{% url 'reg_hash' %}" method="POST">
                    {% csrf_token %}
                    <input class="password_image_value" type="hidden" id="password_image_id" value="4.jpg"
                           name="password_image_id">
                    <input class="password_image" type="image" value="4" src="/static/images/PasswordImages/4.jpg">
                </form>
            </div>

            <div class="col-sm-4">
                <form action="{% url 'reg_hash' %}" method="POST">
                    {% csrf_token %}
                    <input class="password_image_value" type="hidden" id="password_image_id" value="5.jpg"
                           name="password_image_id">
                    <input class="password_image" type="image" value="5" src="/static/images/PasswordImages/5.jpg">
                </form>
            </div>

            <div class="col-sm-4">
                <form action="{% url 'reg_hash' %}" method="POST">
                    {% csrf_token %}
                    <input class="password_image_value" type="hidden" id="password_image_id" value="6.jpg"
                           name="password_image_id">
                    <input class="password_image" type="image" value="6" src="/static/images/PasswordImages/6.jpg">
                </form>
            </div>

        </div>
    </div>
    <div align="center">
        <button id="back_btn" class="button" onclick=""><i class="left"></i>Back</button>
        <button class="button" onclick="refresh_images()">New Images <i class="fa fa-refresh fa-spin"></i></button>
    </div>

    <script>
        document.getElementById("back_btn").onclick = function () {
            location.href = "{% url 'home' %}";
        };
    </script>

{% endblock %}